*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    justify-content: center;
    align-items: center;
    align-content: center;
}
.background-clip{
    position:absolute;
    left:0;
    top:0; 
    width: 100%;
    height:100%;
    object-fit: cover;
    z-index:-99;
} 
.weather-content{
    position:relative;
    top:-5%;
    z-index: 99;
    width:90%;
    max-width:470px;
    background-color:rgba(0,0,0,0.7);
    margin:100px auto 0;
    border-radius:20px;
    padding:40px 35px;
    text-align:center;
}
.heading{
    font-weight: bolder;
    background-clip: text;
    color: transparent;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:45px;
    background-image: linear-gradient(180deg,white,cyan,rgba(3, 3, 3, 0.371));
} 
.searchbar{
    display:flex;
    justify-content:space-evenly;
} 
.searchbar input{
    color:aliceblue;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    border-radius:25px;
    box-shadow: 4px 3px 5px 2px cyan;
}
.searchbar button{
    border:0;
    outline:0;
    background:transparent;
    border-radius: 50%;
    width:40px;
    height:40px;
    cursor: pointer;
}
.searchbar button img{
    width:40px;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 5px cyan;
}
h1{
    color:white;
    font-size: 40px;
}
.weather-icon{
    width:170px;
    margin-top: 30px;
}
.details{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top:20px;
}
p{
    color:white;
}
.col{
    display:flex;
    align-items: center;
    text-align: left;
}
.col img{
    width:40px;
    margin-right: 10px;
}
.humidity, .wind{
     font-size: 28px;
     margin-top:-6px;
}
.weather{
    display:none;
}
.error{
    text-align:left;
    margin-left: 105px;
    font-size:16px;
    margin-top: 0px;
    display:none;
}
.error p{
    color:red;
    font-weight: bolder;
}
.ccl{
    color:white;
    border:10;
    outline:0;
    background:transparent;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px cyan;
    cursor: pointer;
}
@media screen and (max-width:500px){
    body{
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .background-clip{
        position:absolute;
        left:0;
        top:0; 
        width: 100%;
        height:100%;
        object-fit: cover;
        z-index:-99;
    } 
    .weather-content{
        position:relative;
        top:-5%;
        z-index: 99;
        width:90%;
        max-width:700px;
        background-color:rgba(0,0,0,0.7);
        margin:auto auto auto;
        border-radius:20px;
        padding:170px 65px;
        text-align:center;
    }
    .heading{
        font-weight: bolder;
        background-clip: text;
        color: transparent;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size:70px;
        background-image: linear-gradient(180deg,white,cyan,rgba(3, 3, 3, 0.371));
    } 
    .searchbar{
        display:flex;
        justify-content:space-evenly;
    } 
    .searchbar input{
        color:aliceblue;
        font-size: larger;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;
        text-align: center;
        background-color: transparent;
        border-radius:25px;
        width:400px;
        height:50px;
        box-shadow: 4px 3px 5px 2px cyan;
    }
    .searchbar button{
        border:0;
        outline:0;
        background:transparent;
        border-radius: 50%;
        width:50px;
        height:50px;
        cursor: pointer;
    }
    .searchbar button img{
        width:50px;
        border-radius: 50%;
        box-shadow: 1px 1px 2px 5px cyan;
    }
    h1{
        color:white;
        font-size: 50px;
    }
    .weather-icon{
        width:200px;
        margin-top: 30px;
    }
    .details{
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        margin-top:20px;
    }
    p{
        color:white;
    }
    .col{
        display:flex;
        align-items: center;
        text-align: left;
    }
    .col img{
        width:90px;
        margin-right: 10px;
    }
    .humidity, .wind{
         font-size: 40px;
         margin-top:-6px;
    }
    .weather{
        display:none;
    }
    .error{
        text-align:left;
        margin-left: 105px;
        font-size:16px;
        margin-top: 0px;
        display:none;
    }
    .error p{
        color:red;
        font-weight: bolder;
    }
    .ccl{
        color:white;
        border:10px;
        font-size: 25px;
        outline:0;
        background:transparent;
        border-radius: 25px;
        box-shadow: 2px 2px 2px 2px cyan;
        cursor: pointer;
    }
}
